{% extends 'basefront.html.twig' %}
{% block body %}




                    <!-- DataTales Example -->

                    <h1>Create new Calendar</h1>

                    {{ include('calendar/_form.html.twig') }}

                    <a href="{{ path('calendar_index') }}">back to list</a>








{% endblock %}