{% extends 'baseback.html.twig' %}
{% block title %} E-fit Admin Dashboard {% endblock %}

{% block body %}




   <!-- Content Row -->

                <div class="row">

                    <!-- Iheb CHART -->
                    <div class="col-xl-6 col-lg-7">
                      <div>etat des commande aujourd'hui</div>
                        <div id="IhebChart1"></div>

                        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
                        <script type="text/javascript">
                            {{ gc_draw(IhebChart1, 'IhebChart1') }}
                        </script>
                          
                        </script>
                    </div>
                
                      </div>

                <!-- Content Row -->




{% endblock %}
