{% extends 'baseback.html.twig' %}

{% block body %}
<div class="col-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">modifier commande</h4>
                    <p class="card-description"> Basic form elements </p>
                     {{ form(formU,{'attr':{'novalidate':'novalidate'}}) }}
               
                    </div>
                </div>
            </div>
{% endblock %}