
<html>
<body>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Notifications
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="{{ path('app_notification_index') }}">Toutes les notifications</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="{{ path('notification_unread') }}">Non lues</a>
    </div>
</li>

<script>
$('a.notification-link').click(function(e) {
    e.preventDefault();

    var url = $(this).attr('notification_unread');

    $.ajax({
        url: url,
        method: 'POST',
        data: { isRead: true }
    }).done(function() {
        location.href = url;
    });
});

</script>
</body>
</html>
