


{% extends 'basefront.html.twig' %}


{% block title %}RendezVous{% endblock %}

{% block body %}
<div class="col-8 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                  
                    {{ form_start(formRendezVous , {'attr': {'novalidate':'novalidate'}} ) }}
                    <form class="forms-sample">
                      <div class="form-group">
                        {{ form_row(formRendezVous.Coachings, {'label':'Cours' ,'attr':{'placeholder': 'cours...', 'class':'form-control'}}) }}
                      </div>
                      
                    
                      <div class="form-group">
                        {{ form_row(formRendezVous.daterdv)}}
                       </div>
                      <button type="submit" class="btn btn-primary mr-2" >Ajouter</button>
                      <a href="/afficherrdv" class="btn btn-dark">afficher</a>
                    
                      </div>
	</div>

                        {%endblock%}